<%= form_for [:admin, @favorite_exchange_rate ], local: true do |form| %>
<% if @favorite_exchange_rate.errors.any? %>
<div id="error_explanation">
  <p>
    <%= pluralize(@favorite_exchange_rate.errors.count, "error") %> prohibited this admin_favorite_exchange_rate from being saved:</p>
  <ul>
    <% @favorite_exchange_rate.errors.full_messages.each do |message| %>
    <li>
      <%= message %>
    </li>
    <% end %>
  </ul>
</div>
<% end %>
<div class="form-group">
  <%= form.label :amount, class: "control-label" %>
  <%= form.number_field :amount, {in: 0..999999, class: "form-control"}  %>
</div>
<div class="form-group">
  <%= form.label :base_currency , class: "control-label"%>
  <%= form.select :base_currency, ENV['FIXER_API_SUBSCRIPTION'] == 'FREE' ? ["EUR"] : currencies, {}, {class: "form-control"} %>
</div>
<div class="form-group">
  <%= form.label :target_currency, class: "control-label" %>
  <%= form.select :target_currency, currencies, {}, {class: "form-control"} %>
</div>
<div class="form-group">
  <%= form.submit %>
</div>
<% end %>